<?php

return array(
    'base_url' => 'http://dws-fileconversion.public.web01.detailnet.me/api/',
    'notification_url' => 'http://requestb.in/12v01hs1', // Remember to create an new RequestBin URL
    's3bucket' => 'your-bucket-name',
    's3path' => 'test-files', // Or any other path under your bucket
);
